---

- name: create content view {{ content_view.name }}
  theforeman.foreman.katello_content_view:{% raw %}
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    validate_certs: false
    server_url: "{{ satellite_url }}"
    organization: "{{ organization.name }}"
{% endraw %}
    name: {{ content_view.name }}
{% if content_view.repos is defined %}
    repositories:
{% for repo in content_view.repos %}
      - name: {{ repo.repo | regex_replace('\\(','') | regex_replace('\\)','') + (' ' + repo.basearch if repo.basearch is defined else '') + (' ' + (repo.releasever | string) if repo.releasever is defined else '') }}
        product: {{ repo.product }}
{% endfor %}
{% endif %}
  delegate_to: localhost
  register: publish_content_view

- name: publish new version of {{ content_view.name }}
  include_tasks: {{ role_path }}/tasks/publish-content-view.yml
  vars:
    content_view: {{ content_view.name }}
  when:
    - publish_content_view is defined
    - publish_content_view.changed

